<section id="services" class="uk-section uk-section-secondary">
    <div class="uk-container uk-container-large">
        <h2 class="uk-text-center">NOS SERVICES</h2>
        <div class="uk-child-width-1-5@m" uk-grid>
            <div>
                <div class="service-img">
                    <img data-src="{{asset('img/pictos_services/picto_dev.png')}}" class="uk-align-center" alt="Développement web pictogramme" uk-img>
                </div>
                <h3 class="uk-text-center">Développement web</h3>
                <p class="uk-text-center">Lorem ipsum dolor <strong>sit</strong> amet consectetur, adipisicing elit. Deleniti asperiores suscipit nulla,
                    consectetur magni, ipsa cupiditate nisi aliquam quae ex nesciunt. Beatae, quia! Animi eum <strong>magni</strong> non.
                    Facere, et est.</p>
            </div>
            <div>
                <div class="service-img">
                    <img data-src="{{asset('img/pictos_services/picto_seo.png')}}" class="uk-align-center" alt="Référencement pictogramme" uk-img>
                </div>
                <h3 class="uk-text-center">Référencement</h3>
                <p class="uk-text-center">Lorem ipsum dolor sit <strong>amet</strong> consectetur, adipisicing elit. Deleniti asperiores suscipit nulla,
                    consectetur magni, ipsa cupiditate nisi aliquam quae ex nesciunt. Beatae, quia! Animi eum magni non.
                    Facere, et est.</p>
            </div>
            <div>
                <div class="service-img">
                    <img data-src="{{asset('img/pictos_services/picto_hebergement.png')}}"  class="uk-align-center" alt="Hébergement pictogramme" uk-img>
                </div>
                <h3 class="uk-text-center">Hébergement</h3>
                <p class="uk-text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. <strong>Deleniti</strong> asperiores suscipit nulla,
                    consectetur magni, ipsa <strong>cupiditate</strong> nisi aliquam quae ex nesciunt. Beatae, quia! Animi eum magni non.
                    Facere, et est.</p>
            </div>
            <div>
                <div class="service-img">
                    <img data-src="{{asset('img/pictos_services/picto_design.png')}}" class="uk-align-center" alt="Webdesign pictogramme" uk-img>
                </div>
                <h3 class="uk-text-center">Webdesign</h3>
                <p class="uk-text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti asperiores suscipit nulla,
                    consectetur magni, ipsa cupiditate nisi <strong>aliquam</strong> quae ex nesciunt. Beatae, quia! Animi eum magni non.
                    Facere, et est.</p>
            </div>
            <div>
                <div class="service-img">
                    <img data-src="{{asset('img/pictos_services/picto_redac.png')}}" class="uk-align-center" alt="Rédactionnel pictogramme" uk-img>
                </div>
                <h3 class="uk-text-center">Rédactionnel</h3>
                <p class="uk-text-center">Lorem ipsum dolor sit amet consectetur, <strong>adipisicing</strong> elit. Deleniti asperiores suscipit nulla,
                    consectetur magni, ipsa cupiditate nisi aliquam quae ex nesciunt. Beatae, quia! Animi eum magni non.
                    Facere, et est.</p>
            </div>
        </div>
    </div>
</section>