{% extends 'base.html.twig' %}

{% block title %}Article {{article.title}}{% endblock %}

{% block body %}
<section class="uk-section ">
    <div class="uk-container">
        <h1>Article</h1>

        <article class="uk-article">
            <img data-src="{{ uploaded_asset(article.imagePath) }}" alt="{{article.captionImage}}" uk-img>
            <h1 class="uk-article-title">
                <a class="uk-link-reset" href="">{{ article.title }}</a>
            </h1>
            <a href="{{path('blog_index')}}">Retour à la liste des articles</a>
            <div class="uk-column1-2">
                <div>
                    <p class="uk-article-meta">
                        écrit par <em>{{ article.author.username|upper }}</em>
                    </p>
                    <p class="uk-article-meta">
                        Le {{ article.createdAt|date('d/m/Y à H:i')}}
                    </p>
                </div>
                <div>
                    {% if article.comments is empty %}
                    {% else %}
                    <p class="uk-article-meta">Nombres de commentaires: {{article.comments|length}}</p>
                    {% endif %}
                </div>
            </div>

            <p>{{ article.content|e }}</p>
        </article>
        <div class="uk-margin">
            <a class="uk-button uk-button-text" href="{{ path('article_index') }}">retour à la
                liste
            </a>

        </div>
        <hr>
        <div class="container">
            <h3>Commentaires</h3>
            <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
                {% if article.comments|length >0 %}
                <div>
                    {% for comment in article.comments %}
                    <article class="uk-comment">
                        <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h4 class="uk-comment-title uk-margin-remove">{{comment.author|e}}</h4>
                                <p class="uk-comment-meta  uk-margin-remove-top">
                                    {{article.createdAt|date('d/m/Y à H:i')}}
                                </p>
                            </div>
                        </header>
                        <div class="uk-comment-body">
                            <p>{{ comment.content|e}}</p>
                        </div>
                    </article>
                    {% endfor %}
                </div>
                {% else %}
                <p class="uk-text-lead">Pas encore de commentaires pour cet article</p>
                {% endif %}
                <div>
                    <p class="uk-text-lead">Ajouter un commentaire</p>
                    {% include "home/blog/_comment_form.html.twig" %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}