{% extends 'admin_base.html.twig' %}

{% block title %}DashBoard{% endblock %}

{% block body %}
<section class="uk-section uk-section-default section-solo">
    <div class="uk-container uk-container-large">
    <h1>DashBoard</h1>
    <div class="uk-child-width-expand@s" uk-grid>
        <div>
            <h2>Articles : {{ articles|length }} <a href="{{ path('article_new') }}"><span uk-icon="icon: plus-circle; ratio: 2"></span></a></h2><br>
            <a class="uk-button uk-button-primary uk-border-rounded" href="{{ path('article_index')}}">Accéder aux articles</a>
        </div>
        <div>
            <h2>Références : {{ references|length }} <a href="{{ path('reference_new') }}"><span uk-icon="icon: plus-circle; ratio: 2"></span></a></h2><br>
            <a class="uk-button uk-button-primary uk-border-rounded" href="{{ path('reference_index')}}">Accéder aux références</a>
        </div>
        <div>
            <h2>Services : {{ services|length }} <a href="{{ path('service_new') }}"><span uk-icon="icon: plus-circle; ratio: 2"></span></a></h2><br>
            <a class="uk-button uk-button-primary uk-border-rounded" href="{{ path('service_index')}}">Accéder aux services</a>
        </div>
    </div>
        <div class="uk-child-width-expand@s" uk-grid>

            <div>
                <h2>Commentaires : {{ comments|length }}</h2><br>
                <a class="uk-button uk-button-primary uk-border-rounded" href="{{ path('comment_index')}}">Accéder aux commentaires</a>
            </div>
            <div>
                <h2>Clients : {{ customers|length }}</h2><br>
                <a class="uk-button uk-button-primary uk-border-rounded" href="{{ path('customer_index')}}">Accéder aux clients</a>
            </div>
            <div>
                <h2>Utilisateur : {{ users|length }} <a href="{{ path('user_new') }}"><span uk-icon="icon: plus-circle; ratio: 2"></span></a></h2><br>
                <a class="uk-button uk-button-primary uk-border-rounded" href="{{ path('user_index')}}">Accéder aux utilisateurs</a>
            </div>
    </div>
    </div>
</section>
{% endblock %}