{{ form_start(form) }}
<form action="" method="post" enctype="multipart/form-data" class="uk-form-stacked">
    {# upload Image#}
    {% if reference.image is empty %}
    {% else %}
        <img data-src="/uploads/references_images/{{ reference.image }}" uk-img>
    {% endif %}
    <div class="uk-margin">
        <div class="js-upload" uk-form-custom>
            {{form_row(form.imageFile)}}
            <button class="uk-button uk-button-default" type="button" tabindex="-1">Sélectionner une image</button>
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label">Description de l'image</label>
        <div class="uk-form-controls">
            {{form_widget(form.captionImage)}}
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label">Hauteur de l'image</label>
        <div class="uk-form-controls">
            {{form_widget(form.imageHeight)}}
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label">Nom</label>
        <div class="uk-form-controls">
            {{form_widget(form.name)}}
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label">Client</label>
        <div class="uk-form-controls">
            {{form_widget(form.customer)}}
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label">Lien</label>
        <div class="uk-form-controls">
            {{form_widget(form.link)}}
        </div>
    </div>
    <div>
        <div class="uk-margin">
            <label class="uk-form-label"Mission</label>
            <div class="uk-form-controls">
                {{form_widget(form.mission)}}
            </div>
        </div>
    </div>
    {{ form_widget(form) }}
    <button class="uk-button uk-button-primary uk-border-rounded">{{ button_label|default('Valider') }}</button>
</form>

{{ form_end(form) }}