{% extends "admin_base.html.twig" %}

{% block title %}Liste des References{% endblock %}

{% block body %}
    <section class="uk-section">
        <div class="uk-container">
            <h1>Liste des références</h1>

            <div class="uk-margin">
                <a class="uk-button uk-button-primary uk-border-rounded uk-align-middle" href="{{ path('reference_new') }}">Créer une nouvelle
                    référence</a>
            </div>
            <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center"  uk-grid>
                {% for reference in references %}
                    <div>
                        <a href="{{ path('reference_show',{'id': reference.id})}}" class=" uk-link-toggle">
                            <img class="uk-border-rounded" src="/uploads/references_images/{{ reference.image }}" alt="{{reference.captionImage}}">
                            <h3 class="uk-link-heading">{{reference.name}}</h3>
                            <p class="uk-text-meta uk-margin-remove">{{reference.createdAt|date('d/m/Y à H:i')}}</p>
                            <p>{{reference.mission|slice(0,150)|raw}}(...)</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}