{{ form_start(form) }}
<form action="" method="post" enctype="multipart/form-data" class="uk-form-stacked">
    {# upload Image#}
    {% if article.image is empty %}
    {% else %}
    <img data-src="/uploads/articles_images/{{ article.image }}" uk-img>
    {% endif %}
    <div class="uk-margin">
        <div class="js-upload" uk-form-custom>
            {{form_row(form.imageFile)}}
            <button class="uk-button uk-button-default" type="button" tabindex="-1">Sélectionner une image</button>
        </div>
    </div>
    {# captionImage #}
    <div class="uk-margin">
        <label class="uk-form-label">Description de l'image</label>
        <div class="uk-form-controls">
            {{form_widget(form.captionImage)}}
        </div>
    </div>
    {# title of article #}
    <div class="uk-margin">
        <label class="uk-form-label">Titre</label>
        <div class="uk-form-controls">
            {{form_widget(form.title)}}
        </div>
    </div>
    {# Content of article #}
    <div>
        <div class="uk-margin">
            <label class="uk-form-label">Contenu</label>
            <div class="uk-form-controls">
                {{form_widget(form.content)}}
            </div>
        </div>
    </div>
    {{ form_widget(form) }}
    <button class="uk-button uk-button-primary uk-border-rounded">{{ button_label|default('Valider') }}</button>
</form>

{{ form_end(form) }}