{% extends "admin_base.html.twig" %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
<section class="uk-section">
    <div class="uk-container">
        <h1>Liste des articles</h1>
        {% for message in app.flashes('success') %}
            <div class="uk-alert-success" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ message }}</p>
            </div>
        {% endfor %}

        <div class="uk-margin">
            <a class="uk-button uk-button-primary uk-align-middle uk-border-rounded" href="{{ path('article_new') }}">Créer une nouvel
                article</a>
        </div>
        <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center"  uk-grid>
            {% for article in articles %}
                <div>
                    <a href="{{ path('article_show',{'id': article.id})}}" class=" uk-link-toggle">
                        <img class="uk-border-rounded" src="/uploads/articles_images/{{ article.image }}" alt="{{ article.captionImage }}">
                        <h3 class="uk-link-heading">{{ article.title }}</h3>
                        <p class="uk-text-meta uk-margin-remove">{{article.createdAt|date('d/m/Y à H:i')}}</p>
                        <p class="uk-text-meta uk-margin-remove">{{article.author.username}} </p>
                        <p>{{article.content|slice(0,150)|raw}}(...)</p>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(articles) }}
        </div>
    </div>
</section>
{% endblock %}