{% extends "admin_base.html.twig" %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
<section class="uk-section">
    <div class="uk-container">
        <h1>Liste des articles</h1>

        <div class="uk-margin">
            <a class="uk-button uk-button-primary uk-border-rounded" href="{{ path('article_new') }}">Créer une nouvel
                article</a>
        </div>
        <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l" uk-height-match="target: > div > .uk-card; row: false" uk-grid>
            {% for article in articles %}
            <div>
                <div class="uk-card uk-card-default uk-card-hover">
                    <div class="uk-width-auto">
                        <img data-src="/uploads/articles_images/{{ article.image }}" alt="{{article.captionImage}}" uk-img>
                    </div>
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>

                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{article.title}}</h3>
                                <p class="uk-text-meta uk-margin-remove-top">{{article.createdAt|date('d/m/Y à H:i')}}
                                </p>
                                <p class="uk-text-meta uk-margin-remove-top">{{article.author.username}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>{{article.content|slice(0,150)|raw}}
                        </p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="{{ path('article_show',{'id': article.id})}}" class="uk-button uk-button-text"><span
                                uk-icon="icon: plus-circle"></span> Lire
                            plus</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}