{% extends "admin_base.html.twig" %}

{% block title %}Article {{article.title}}{% endblock %}

{% block body %}
<section class="uk-section ">
    <div class="uk-container">
        <article class="uk-article">
            <h1 class="uk-article-title uk-margin">{{ article.title }}</h1>
            <ul class="uk-breadcrumb uk-margin-remove">
                <li class="uk-disabled">
                    <p class="uk-article-meta"><span uk-icon="icon: calendar"></span>
                        {{ article.createdAt|date('d/m/Y à H:i')}}</p>
                </li>
                <li class="uk-disabled">
                    <p class="uk-article-meta">
                        <span uk-icon="icon: pencil"></span>
                        {{ article.author.username|upper }}
                    </p>
                </li>
                <li class="uk-disabled">
                    <p class="uk-article-meta">
                        <span uk-icon="icon: comment"></span>
                        {{article.comments|length}}
                    </p>
                </li>
                <li>
                    <p class="uk-article-meta">
                        <a href="{{ path('article_edit',{'id': article.id})}}">
                            <span uk-icon="icon: file-edit"></span>
                        </a>
                    </p>
                </li>
                <li>
                    <p class="uk-article-meta">
                        <a href="#delete-confirm" uk-toggle>
                            <span uk-icon="icon: trash"></span>
                        </a>
                    </p>
                </li>
                <div id="delete-confirm" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <p class="uk-text-center">
                            Voulez vous vraiment supprimer cet article ?
                        </p>
                        <div class="uk-text-center">
                            {% include "admin/article/_delete_form.html.twig" %}
                            <button class="uk-margin uk-button uk-button-default uk-modal-close"
                                type="button">Annuler</button>
                        </div>
                    </div>
                </div>
            </ul>
            <img class="uk-width-1-2 uk-margin uk-border-rounded" data-src="{{ uploaded_asset(article.imagePath) }}"
                alt="{{article.captionImage}}" uk-img>
            <p>{{ article.content|raw }}</p>
        </article>
        <div class="uk-margin">
            <a class="uk-button uk-button-text" href="{{ path('article_index') }}">Retour au blog</a>
        </div>
    </div>
</section>
{% endblock %}