{% extends 'base.html.twig' %}

{% block title %}Blog_liste{% endblock %}

{% block body %}
<section class="uk-section uk-section-secondary">
    <div class="uk-container">
        <h1>Liste des Articles</h1>
        {% if is_granted('ROLE_USER') %}
        <div class="uk-margin">
            <a class="uk-button uk-button-primary uk-border-rounded" href="{{ path('article_new') }}">Create new</a>
        </div>
        {% endif %}
        <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l" uk-grid>
            {% for article in articles %}
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="{{ asset(article.imagePath) }}" alt="{{ article.captionImage }}">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{ article.title }}</h3>
                        <p class="uk-text-small">Publié par {{ article.author.userName }}</p>
                        le {{ article.createdAt|date('d/m/Y à H:i') }}
                        <p>{{ article.content|slice(0,150)|raw}}
                        </p>
                    </div>
                </div>
            </div>
            {% else %}
            No records Found
            {% endfor %}
        </div>
    </div>
</section> <a class="uk-button uk-button-link" href="{{ path('article_new') }}">Create new</a>
{% endblock %}